<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="flex flex-col justify-center items-center bg-gray-100 min-h-screen">
        <div   div class="bg-white rounded-lg shadow-lg overflow-hidden max-w-lg w-full">
            @if(Header()){
                <app-card-header/>
            }
            <div class="p-6">
                <app-card-body/>
                <app-card-footer/>
            
                
            </div>
        </div>
    </div>
</body>
</html>